<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.mkread.app.feature.library.ImportTestContentProvider"
            android:authorities="com.mkread.app.import-test"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>

</manifest>
